@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000e0;
  --primary: #4a7cfe;
  --primary-hover: #739fff;
}

html {
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard Variable", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.record-modal .ant-modal-content {
  padding: 0 !important;
}

.ant-select-item-option-selected {
  color: var(--primary) !important;
}

.ant-select-open .ant-select-selection-item,
.ant-select-open .ant-select-arrow {
  color: var(--foreground) !important;
}

.ant-select:hover .ant-select-selection-item,
.ant-select:hover .ant-select-arrow {
  color: var(--primary-hover) !important;
}

.ant-select:hover .ant-select-selector {
  border-color: var(--primary-hover) !important;
}
